.faq {
  display: flex;
  background-color: var(--purple);
  min-height: 508px;
  height: auto;

  &_content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    row-gap: 20px;
    max-width: 880px;
    margin: 0 auto;
    padding: 60px 0px;
    // border-top: 1px solid var(--white);
  }

  &_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    color: var(--white);
  }

  &_list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_item {
      display: flex;
      flex-direction: column;
      align-items: unset;
      //FIXME: error
      border-bottom: 1px solid var(--white) !important;
      height: 80px;
      cursor: pointer;
      overflow: hidden;
      transition: height 0.3s linear;
      background: unset;
      border: unset;

      &.showed {
        height: 153px;

        .faq_list_item_header {
          > svg {
            transform: rotate(-45deg);
          }
        }
      }

      &:first-child {
        border-top: 1px solid var(--white);
      }

      &_header {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        min-height: 40px;
        height: 40px;
        padding: 20px 0;

        > p {
          color: var(--white);
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          cursor: pointer;
        }

        > svg {
          height: 25px;
          width: 25px;
          transition: transform 0.3s linear;
        }
      }

      > span {
        color: var(--white);
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}
