.primary_btn {
  padding: 20px 50px 20px 50px;
  border: unset;
  border-radius: 4px;
  background-color: var(--red);
  color: var(--white);
  font-family: "Jost", sans-serif;

  @media (hover: hover) {
    &:hover {
      background-color: var(--vinous);
      cursor: pointer;
    }
  }

  &:disabled {
    background-color: var(--pink);
  }
}
