.input {
  color: #444b58;
  background: #f6f6f6;
  padding: 20px;
  border: 1px solid #f6f6f6;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  &::placeholder {
    color: #b2b5bb;
  }

  &.invalid {
    color: red;
    border-color: red;
  }
}
