$xxl: 1439px;
$xl: 1280px;
$lg: 1000px;
$md: 760px;

:root {
  --white: #ffffff;
  --purple: #484283;
  --gray: #444b58;
  --red: #f14f4f;
  --vinous: #8c2828;
  --pink: #f8afaf;
  --black: #000000;
}
