.header {
  display: flex;
  width: 100%;
  min-height: 90px;
  height: 90px;
  background-color: var(--purple);

  &_content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 1180px;
    padding: 0px 130px;
    height: 44px;
    margin: auto;
  }

  &_logo {
    color: var(--white);
    text-decoration: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
  }

  &_navigation {
    display: flex;
    width: 340px;
    height: 20px;
    gap: 40px;
  }

  &_link {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    height: 20px;
    text-decoration: none;
    color: var(--white);

    &_icon {
      position: relative;

      > div {
        position: absolute;
        bottom: 0px;
        right: -4px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: var(--red);
        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
      }
    }
  }
}
