@use "../../styles/variables.scss" as *;

.header {
  display: flex;
  min-height: 90px;
  height: 90px;
  padding: 0px 30px;
  background-color: var(--purple);

  &_content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    height: 44px;
    margin: auto;
  }

  &_logo {
    color: var(--white);
    text-decoration: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
  }

  &_navigation {
    width: 340px;
    height: auto;
  }

  &_nav_menu {
    &_block {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 40px;
    }

    &_btn {
      display: none;
    }
  }

  &_link {
    display: inline-flex;
    align-items: center;
    column-gap: 6px;
    height: 25px;
    text-decoration: none;
    color: var(--white);

    @media (hover: hover) {
      &:hover {
        color: #c4c4c4;
        text-decoration: underline;
      }
    }

    &_icon {
      position: relative;

      > div {
        position: absolute;
        bottom: 0px;
        right: -4px;

        display: flex;
        align-items: center;
        justify-content: center;
        height: 12px;
        width: 12px;

        border-radius: 50%;
        color: var(--white);
        background-color: var(--red);
        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
      }
    }
  }
}

@media (max-width: $lg) {
  .header {
    padding: 0px 20px;
  }
}

@media (max-width: $md) {
  .header {
    padding: 0px 16px;

    &_navigation {
      width: auto;
      position: relative;
    }

    &_link {
      color: var(--black);
      justify-content: center;

      &_icon {
        > svg path {
          fill: var(--black);
        }
      }
    }

    &_nav_menu {
      &_btn {
        display: block;
        height: 25px;
        padding: 3px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
      }

      &_block {
        position: absolute;
        top: calc(100% + 10px);
        right: 0%;
        z-index: 99;
        display: none;
        flex-direction: column;
        width: 100px;
        height: auto;
        gap: 7px;
        background: white;
        border-radius: 5px;

        &.showed {
          display: flex;
        }
      }
    }
  }
}
