@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.cart_details {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 0px 30px;

  &_title {
    color: var(--gray);
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    width: 100%;
    max-width: 1180px;
    margin: 48px auto 0px;

    &.loading {
      border-radius: 10px;
      color: transparent;
      height: 56px;

      > span {
        display: flex;
        height: 100%;
        width: 300px;
        border-radius: 5px;
        @include skeleton();
      }
    }
  }

  &_content {
    display: flex;
    width: 100%;
    max-width: 1180px;
    column-gap: 48px;
    margin: 0px auto 45px;
  }

  .no_items {
    color: #b2b5bb;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

@media (max-width: $xxl) {
  .cart_details {
    padding: 0px 20px;

    &_content {
      column-gap: 20px;
    }
  }
}

@media (max-width: $lg) {
  .cart_details {
    padding: 0px 16px;
    row-gap: 20px;

    &_title {
      margin-top: 20px;
      line-height: 40px;

      &.loading > span {
        height: 40px;
      }
    }

    &_content {
      row-gap: 20px;
      flex-direction: column;
    }
  }
}
