@use "../../styles/variables.scss" as *;

.footer {
  display: flex;
  min-height: 90px;
  height: 90px;
  background-color: var(--gray);
  padding: 0px 30px;

  &_content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    height: 44px;
    margin: auto;
  }

  &_logo {
    color: var(--white);
    text-decoration: none;
    font-family: Jost;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    text-align: left;
  }

  &_navigation {
    display: flex;
    width: 340px;
    justify-content: flex-end;
    height: 20px;
    gap: 40px;

    > a {
      display: inline-flex;
      align-items: center;
      height: 20px;
      text-decoration: none;
      color: var(--white);

      @media (hover: hover) {
        &:hover {
          color: #c4c4c4;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: $lg) {
  .footer {
    padding: 0px 20px;
  }
}

@media (max-width: $md) {
  .footer {
    padding: 0px 16px;

    &_content {
      flex-direction: column;
      gap: 5px;
      height: auto;
    }

    &_navigation {
      justify-content: center;
      width: 100%;
    }
  }
}
