.product_card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 35px;
}
